.device-frame {
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 0px auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.device-inner {
    width: 360px;
    margin: 0px auto;
}

.user-name {
    margin-bottom: 10px;
    max-width: 83.333333%;
}

.user-address {
    margin-bottom: 10px;
    max-width: 83.333333%;
}

.user-password {
    margin-bottom: 10px;
    max-width: 83.333333%;
}

.mandatory {
    width: 100%;
}

.mandatory::before {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}

.new-user-create {
    width: 100%;
}
